*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    background-color: rgb(244, 244, 243);
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10em;
    height: 100%;
    
}

header{
    height: 100px;
    background-color: rgb(183, 1, 35);

}

main{
    flex-grow: 1;
    background-color: rgb(185, 9, 97);
}

footer{
    height: 100px;
    background-color: rgb(168, 105, 227);
}